<h2 style="margin-top: 20px">Iteration name</h2>
<div class="row">
    <div class="col-sm-6">

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/board">Boards</a></li>
                <li class="breadcrumb-item"><a href="/interation">Iterations</a></li>
                <li class="breadcrumb-item active" aria-current="page">Iteration Name</li>
            </ol>
        </nav>
    </div>
    <div class="col-sm-6" style="text-align: right; vertical-align: middle;">
        <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown"
            aria-expanded="false">
            <i class="bi bi-people"></i>&nbsp;Collaborators
        </button>
        <ul class="dropdown-menu dropdown-menu-end ">
            <li><button class="dropdown-item" type="button">Fulano</button></li>
            <li><button class="dropdown-item" type="button">Ciclano</button></li>
            <li><button class="dropdown-item" type="button">Beltrano</button></li>
        </ul>
    </div>
    @* <div class="col-sm-6" style="text-align: right; vertical-align: middle;">
    <div class="btn-group">
    <div class="btn-group" role="group" aria-label="Basic outlined example">
    <button type="button" class="btn btn-sm btn-outline-secondary"><i class="bi bi-filter"></i>&nbsp;Sort</button>
    <button type="button" class="btn btn-sm btn-outline-secondary"><i class="bi bi-search"></i>&nbsp;Filter</button>
    <button type="button" class="btn btn-sm btn-outline-secondary"><i class="bi
    bi-people"></i>&nbsp;Collaborators</button>
    </div>
    </div> *@
</div>

<div class="table-responsive">
    <table class='table table-hover col-sm-12'>
        <tr>
            <th class="col-sm-4">Task</th>
            <th class="col-sm-1">Owner</th>
            <th class="col-sm-1"><i class="bi bi-sort-alpha-down"></i> Status</th>
            <th class="col-sm-2">Due date</th>
            <th class="col-sm-1">Priority</th>
            @* <th class="col-sm-1">Timeline</th> *@
            <th class="col-sm-1">Updated</th>
            <th class="col-sm-2"></th>
        </tr>
        <tr>
            <td>
                <a href="#" class="d-inline-block text-truncate" style="max-width:25em;">Desenvolver um botão
                    para filtragem das tarefas por colaborador</span>
            </td>
            <td style="text-align: left">
                <img src="https://cdn1.monday.com/dapulse_default_photo.png" width="26px" height="26px" />
            </td>
            <td><span class="badge text-bg-warning">In Progress</span></td>
            @* <td><i class="bi bi-calendar3"></i><span style="font-size: 0.8em;">&nbsp;15/02/2024</span></td> *@
            <td><i class="bi bi-exclamation-circle" style="color: orange"></i><span style="font-size: 0.9em;">&nbsp;15/02/2024</span></td>
            <td><span class="badge text-bg-danger">High</span></td>
            @* <td style="vertical-align: middle;">
            <div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="25"
            aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 25%">
            25%</div>
            </div>
            </td> *@
            <td><span style="font-size: 0.8em;">17/02/2024</span></td>
            <td>
                <div class="btn-group" role="group" aria-label="Basic outlined example">
                    <button type="button" class="btn btn-sm btn-outline-primary"><i
                            class="bi bi-pencil-square"></i>&nbsp;Editar</button>
                    <button type="button" class="btn btn-sm btn-outline-danger"><i
                            class="bi bi-trash"></i>&nbsp;Apagar</button>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <a href="#" class="d-inline-block text-truncate" style="max-width:25em;">Criar API service</span>
            </td>
            <td style="text-align: left">
                <img src="https://cdn1.monday.com/dapulse_default_photo.png" width="26px" height="26px" />
            </td>
            <td><span class="badge text-bg-secondary">Not Started</span></td>
            <td><i class="bi bi-exclamation-triangle-fill" style="color: red;"></i><span
                    style="font-size: 0.9em;">&nbsp;15/02/2024</span></td>
            <td><span class="badge text-bg-info">Low</span></td>
            @* <td style="vertical-align: middle;">
            <div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="0"
            aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 0%">
            0%</div>
            </div>
            </td> *@
            <td><span style="font-size: 0.8em;">17/02/2024</span></td>
            <td>
                <div class="btn-group" role="group" aria-label="Basic outlined example">
                    <button type="button" class="btn btn-sm btn-outline-primary"><i
                            class="bi bi-pencil-square"></i>&nbsp;Editar</button>
                    <button type="button" class="btn btn-sm btn-outline-danger"><i
                            class="bi bi-trash"></i>&nbsp;Apagar</button>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <a href="#" class="d-inline-block text-truncate" style="max-width:25em;">Adicionar botão para registro
                    de tarefas</span>
            </td>
            <td style="text-align: left">
                <img src="https://cdn1.monday.com/dapulse_default_photo.png" width="26px" height="26px" />
            </td>
            <td><span class="badge text-bg-success">Done</span></td>
            <td><i class="bi bi-check-circle-fill" style="color: green;"></i>&nbsp;<s
                    style="font-size: 0.9em;">20/02/2024</s></td> <!-- ou  style="text-decoration: line-through;" -->
            <td><span class="badge text-bg-warning">Medium</span></td>
            @* <td style="vertical-align: middle;">
            <div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="100"
            aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar" style="width: 100%">
            100%</div>
            </div>
            </td> *@
            <td><span style="font-size: 0.8em;">17/02/2024</span></td>
            <td>
                <div class="btn-group" role="group" aria-label="Basic outlined example">
                    <button type="button" class="btn btn-sm btn-outline-primary"><i
                            class="bi bi-pencil-square"></i>&nbsp;Editar</button>
                    <button type="button" class="btn btn-sm btn-outline-danger"><i
                            class="bi bi-trash"></i>&nbsp;Apagar</button>
                </div>
            </td>
        </tr>
    </table>
</div>

<a href="/tasks/create" class="btn btn-md btn-primary"><i
                            class="bi bi-plus-square"></i>&nbsp;New Task</a>