<h2 style="margin-top: 20px">Boards</h2>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/board">Boards</a></li>
        <li class="breadcrumb-item active" aria-current="page">New Board</li>

    </ol>
</nav>

<form class="row justify-content-center" action="/board/create" method="POST">
      <div class="col-10">
    <label for="name" class="form-label">Name</label>
    <input name="name" type="text" class="form-control" id="name" placeholder="Board name">
  </div>  
  <div class="col-10" style="margin-top: 10px">
    <button type="submit" class="btn btn-primary">Save</button>
  </div>
</form>