@model IEnumerable<Board>

<h2 style="margin-top: 20px">Boards</h2>

<table class='table table-hover col-sm-12'>
    <tr>
        <th class="col-sm-6">Board</th>
        <th class="col-sm-2">Owner</th>
        <th class="col-sm-2">Users</th>
        <th class="col-sm-4"></th>
    </tr>
    @foreach(Board board in Model) 
    {
        <tr>
            <td>
                <a href="/interation">@board.Name</a>
            </td>
            <td>Henrique Dezani</td>
            <td><a href="/collaborator" class="btn btn-sm btn-outline-success"><i
                                class="bi bi-people"></i>&nbsp;Collaborators (12)</a></td>
            <td style="text-align: right;">
                <div class="btn-group" role="group" aria-label="Basic outlined example">
                        <a href="/board/update/@board.BoardId" class="btn btn-sm btn-outline-primary"><i
                                class="bi bi-pencil-square"></i>&nbsp;Editar</a>
                        <a href="/board/delete/@board.BoardId" class="btn btn-sm btn-outline-danger"><i
                                class="bi bi-trash"></i>&nbsp;Apagar</a>
                </div>
            </td>
        </tr>
    }
</table>

<a href="/board/create" class="btn btn-md btn-primary"><i
                            class="bi bi-plus-square"></i>&nbsp;New Board</a>